@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background: #2E3031;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

.App{
    padding: 25px 92px;
    margin: 0 100px;
}


.Footer{
    background: #2E3031;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

header .imgIcon {
    width: 95px;
    height: 87px;
}

#header-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
}

#header-center li {
    padding: 0 41px;
    position: relative;
}

a{
    text-decoration: none;
}

#header-center li a {
    font-size: 23px;
    font-weight: 400;
    color: #FFFFFF;
    transition: 0.3s ease-in-out;
}

#header-center li a:hover,
#header-center li a.active{
    color: #F3C404;
}

#header-center li a:hover::after,
#header-center li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #F3C404;
    position: absolute;
    bottom: -4px;
    left: 42px;
}

#header-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-right li {
    padding: 0 16px;
    position: relative;
}

.header-icons {
    width: 35px;
    height: 35px;
    transition: all .8s ease;
}


/*.search-box button {*/
/*    background-color: #FFFFFF;*/
/*    border: none;*/
/*    padding: 8px;*/
/*    text-align: center;*/
/*    border-radius: 28px;*/
/*    cursor: pointer;*/
/*    float: right;*/
/*}*/

/*.search-box img {*/
/*    width: 25px;*/
/*    height: 25px;*/
/*}*/

/*.search-box {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    background: #FFFFFF;*/
/*    height: 42px;*/
/*    border-radius: 40px;*/
/*    padding: 10px;*/
/*}*/

/*.search-text {*/
/*    border: none;*/
/*    background: none;*/
/*    outline: none;*/
/*    float: left;*/
/*    padding: 0;*/
/*    color: #BCBCBC;*/
/*    font-size: 16px;*/
/*    transition: 0.4s;*/
/*    line-height: 40px;*/
/*    width: 0px;*/
/*}*/



/*.search-button {*/
/*    float: right;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    text-decoration: none;*/
/*    cursor: pointer;*/
/*    background: #FFFFFF;*/
/*}*/

footer {
    max-width: 1600px;
    margin: auto;
    padding: 170px 50px;
}

#footer-left {
    display: flex;
}

#footer-left li {
    padding: 15px 10px 0 0;
    margin-right: 10px;
    position: relative;
}

#footer-left li img{
    width: 25px;
    height: 25px;
}

.imgIconFooter {
    width: 85px;
    height: 77px;
}

#footer-center li{
    margin-bottom: 5px;
}

#footer-center li a{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #BCBCBC;
}

.footer-col {
    width: 25%;
}

.footer-col li{
    margin-bottom: 5px;
}

.footer-col p{
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 700;
    color: #FFFFFF;
}

.footer-col li a{
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 700;
    color: #BCBCBC;
    transition: all 0.3s ease;
}

.footer-col li a:hover,
#footer-center li a:hover{
    color: #FFFFFF;
    padding-left: 10px;
}